#its-a-trap,
#its-an-attack {
    background: #fff;
}

#its-a-trap #main-feature,
#its-an-attack #main-feature {
    min-height: 220px;
    padding-top: 50px;
    padding-left: 80px;
    width: 430px;
}

* html #its-a-trap #main-feature,
* html #its-an-attack #main-feature { height: 265px; /* Hack for IE6 */ }

#its-a-trap #main-feature h2    { font-size: 520%; }
#its-an-attack #main-feature h2 { font-size: 420%; }

#its-a-trap #wrapper,
#its-an-attack #wrapper {
    background: url(/img/background.jpg) no-repeat scroll top center;
}

#its-a-trap #main-content,
#its-an-attack #main-content {
    width: 500px;
    padding-left: 80px;
    float: left;
    display: inline;
}

#its-a-trap #download,
#its-an-attack #download {
    float: left;
    display: inline;
}

#its-a-trap #download ul.home-download,
#its-an-attack #download ul.home-download {
	width: 330px;
}

#its-a-trap #main-content h5,
#its-an-attack #main-content h5 { margin-top: 35px; }
