#forbidden,
#blocked,
#unwanted,
#its-a-tracker,
#its-a-trap,
#its-an-attack {
    background: #fff;
}

#main-feature {
    min-height: 220px;
    padding-top: 50px;
    padding-left: 80px;
    width: 430px;
}

* html #main-feature { height: 265px; /* Hack for IE6 */ }

#forbidden #main-feature h2    { font-size: 460%; }
#blocked #main-feature h2   { font-size: 460%; }
#unwanted #main-feature h2    { font-size: 460%; }
#its-a-tracker #main-feature h2    { font-size: 520%; }
#its-a-trap #main-feature h2    { font-size: 520%; }
#its-an-attack #main-feature h2 { font-size: 420%; }

#wrapper {
    background: url(/img/background.jpg) no-repeat scroll top center;
}

#main-content {
    width: 500px;
    padding-left: 80px;
    float: left;
    display: inline;
}

#download {
    float: left;
    display: inline;
}

#download ul.home-download {
    width: 330px;
}

#its-a-tracker #tests ul.trackers {
    list-style: inside;
}

#main-content h5 { margin-top: 35px; }

.hidden {
    display: none
}

.incorrect {
    color: red;
    font-weight: bold;
}

.correct {
    color: green;
    font-weight: bold;
}

#dntcompliant-loaded {
    border: none;
    height: 1.3em;
    width: 13em;
}
