#blocked,
#unwanted,
#its-a-tracker,
#its-a-trap,
#its-an-attack,
#flashblock {
    background: #fff;
}

#main-feature {
    min-height: 220px;
    padding-top: 50px;
    padding-left: 80px;
    width: 430px;
}

* html #main-feature { height: 265px; /* Hack for IE6 */ }

#blocked #main-feature h2   { font-size: 460%; }
#unwanted #main-feature h2    { font-size: 460%; }
#its-a-tracker #main-feature h2    { font-size: 520%; }
#its-a-trap #main-feature h2    { font-size: 520%; }
#its-an-attack #main-feature h2 { font-size: 420%; }
#flashblock #main-feature h2 { font-size: 320%; }

#wrapper {
    background: url(/img/background.jpg) no-repeat scroll top center;
}

#main-content {
    width: 500px;
    padding-left: 80px;
    float: left;
    display: inline;
}

#flashblock #tests th,
#flashblock #tests td {
    border-spacing: 1px;
    text-align: center;
}

#flashblock #tests td:not(:first-child) {
    border: 1px solid black;
}

#flashblock #tests td:not(:first-child),
#flashblock #tests td iframe,
#flashblock #tests td object,
#flashblock #tests td img,
#flashblock-frame,
#flashblock-frame object,
#flashblock-frame iframe {
    width: 140px;
    height: 100px;
}

#flashblock-frame,
#flashblock-frame iframe {
    border: none;
    background: none;
    min-width: 0px;
}

#download {
    float: left;
    display: inline;
}

#download ul.home-download {
    width: 330px;
}

#its-a-tracker #tests ul.trackers {
    list-style: inside;
}

#main-content h5 { margin-top: 35px; }

.hidden {
    display: none
}

.incorrect {
    color: red;
    font-weight: bold;
}

.correct {
    color: green;
    font-weight: bold;
}
